body {
	background-color: #fff;
	color: #4C6A92;
	overflow-x: hidden !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

button {
	/*-webkit-app-region: no-drag;*/
}

.page-header {
	margin-top: 30px;
	margin-left: 30px;
	margin-bottom: 10px;
}

.container {

}

.p-t-10 {
	padding-top: 10px;
}

.close {
	/*margin-top: 5px;*/
	margin-right: 10px;
	color: #bbb;
	opacity: 1 !important;
}

.close:hover {
	color: #bbb !important;
	opacity: 1 !important;
}

.divider {
	margin-top: 10px;
	margin-bottom: 10px;
	border-top: 2px solid #4C6A92;
}
