body {
	background-color: #4C6A92;
	color: #fff;
	overflow-x: hidden;
}

button {
	-webkit-app-region: no-drag;
}

.header {
	margin-left: 10px;
}

.container {
	background-color: #fff;
	color: #4C6A92;
}

.close {
	margin-top: 5px;
	margin-right: 10px;
	color: #fff;
}

.close:hover {
	color: #fff !important;
}

.divider {
	margin-top: 10px;
	margin-bottom: 10px;
	border-top: 2px solid #4C6A92;
}
